p {
    color: blue;
    background-color: lightgreen;
    font-size: 5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.Goomba {
    width: 100px;
}

.heading {
    font-family: Helvetica;
}

h1 {
    font-size: 15rem;
}