p {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.Goomba {
    width: 100px;
}

:root {
    font-size: 16px;
}

.heading {
    font-family: Helvetica;
}

h1 {
    font-size: 2rem;
}